@*@foreach (var recipe in Model)
{
    <p>@Html.ActionLink((string)recipe.name, "Recipe", "Recipe", new { id = recipe.id }, null)</p>
}*@


<div class="row">
    <div class="col-md-3">
        @for (int i = 0; i < Model.Count; i = i + 4)
        {
            Cook.Models.Recipe recipe = Model[i];
            //<a href="recipe/recipe/@recipe.id" class="thumbnail">
            <a href="@Url.Action("Recipe", "Recipe", new { id = recipe.id }, null)" class="thumbnail">
                <div class="center-block">
                    <img src="/content/images/@recipe.img" class="img img-responsive center-block" />
                    <h4 class="text-center">@recipe.name</h4>
                </div>
            </a>
        }
    </div>

    <div class="col-md-3">
        @for (int i = 1; i < Model.Count; i = i + 4)
        {
            Cook.Models.Recipe recipe = Model[i];
            <a href="@Url.Action("Recipe", "Recipe", new { id = recipe.id }, null)" class="thumbnail">
                <div class="center-block">
                    <img src="/content/images/@recipe.img" class="img img-responsive center-block" />
                    <h4 class="text-center">@recipe.name</h4>
                </div>
            </a>
        }
    </div>

    <div class="col-md-3">
        @for (int i = 2; i < Model.Count; i = i + 4)
        {
            Cook.Models.Recipe recipe = Model[i];
            <a href="@Url.Action("Recipe", "Recipe", new { id = recipe.id }, null)" class="thumbnail">
                <div class="center-block">
                    <img src="/content/images/@recipe.img" class="img img-responsive center-block" />
                    <h4 class="text-center">@recipe.name</h4>
                </div>
            </a>
        }
    </div>

    <div class="col-md-3">
        @for (int i = 3; i < Model.Count; i = i + 4)
        {
            Cook.Models.Recipe recipe = Model[i];
            <a href="@Url.Action("Recipe", "Recipe", new { id = recipe.id }, null)" class="thumbnail">
                <div class="center-block">
                    <img src="/content/images/@recipe.img" class="img img-responsive center-block" />
                    <h4 class="text-center">@recipe.name</h4>
                </div>
            </a>
        }
    </div>

</div>
