@model Cook.Models.Recipe

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Recipe</h2>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Type", new { @class = "control-label cold-md-2" });
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.type, new List<SelectListItem>
                {
                    new SelectListItem() {Text = "drinks", Value="drinks"},
                    new SelectListItem() {Text = "food", Value="food"}
                })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.img, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" id="imageSelector" />
            </div>
            <img id="imagePreview" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ingredients, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <ul id="ingedrients-list">
                    <li>
                        <input type="text" name="ingedrients" />
                    </li>
                </ul>
                <button type="button" id="add-new-ingedrient">Add</button>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.process, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.process)
                @Html.ValidationMessageFor(model => model.process)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/site.js"></script>
