@model Cook.Models.Recipe

@{
    ViewBag.Title = "Recipe";
    
}

<div class="row">
    <div class="col-md-12">
        <h2>@Model.id @Model.name</h2>

        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm())
            {
            <div class="form-horizontal">
                <div class="form-group">
                    @if (Model.isFavourited)
                    {
                        <button class="btn btn-danger pull-right">Unfavourite  <span class="glyphicon glyphicon-star"></span></button>
                    }
                    else
                    {
                        <button class="btn btn-info pull-right">Favourite  <span class="glyphicon glyphicon-star"></span></button>
                    }
                </div>
            </div>
            }

            if (Model.isEditable)
            {    
            @Html.ActionLink("Edit", "Edit", "Recipe", new { recipeId = @Model.id }, new { @class = "btn btn-default btn-primary pull-right" })
            @Html.ActionLink("Delete", "Delete", "Recipe", new { recipeId = @Model.id }, new { @class = "btn btn-danger pull-right" })
            }

        }

        <img src="/Content/Images/@Model.img" class="img-responsive center-block img-rounded"/>

        <hr />

        <blockquote>@Model.description</blockquote>
        <hr />

        <h4>Ingredients</h4>
        <ul>
            @foreach (string x in @Model.ingredients)
            {
                <li>@x</li>
            }
        </ul>

        <hr />

        <h4>Procedure</h4>
        <p>@Model.process</p>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script>
    
</script>
