@model Cook.Models.Recipe

@{
    ViewBag.Title = "Recipe";

}

<div class="row">
    <div class="col-md-12">
        <h2>@Model.id @Model.name</h2>

        <div class="pull-right center-block">
            @if (Request.IsAuthenticated)
            {
                <div class="form-horizontal">
                    <div class="div-fav-button" id="@Model.id" style="margin-bottom:12px">
                        @if (Model.isFavourited)
                        {
                            <button class="btn btn-primary btn-unfav btn-general">Unfavourite  <span class="glyphicon glyphicon-heart" style="color: red"></span></button>
                            <button class="btn btn-info btn-fav btn-general" style="display: none">Favourite  <span class="glyphicon glyphicon-heart-empty" style="color: #00ffff"></span></button>
                        }
                        else
                        {
                            <button class="btn btn-primary btn-unfav btn-general" style="display: none">Unfavourite  <span class="glyphicon glyphicon-heart" style="color: red"></span></button>
                            <button class="btn btn-info btn-fav btn-general">Favourite  <span class="glyphicon glyphicon-heart-empty" style="color: #00ffff"></span></button>
                        }
                    </div>
                </div>
                

                        if (Model.isEditable)
                        {    
                <div>
                    <a href="@Url.Action("Edit", "Recipe", new { recipeId = @Model.id })" class="btn btn-info btn-general" style="margin-bottom:12px">Edit  <span class="glyphicon glyphicon-pencil"></span></a>
                    <br />
                    <a href="@Url.Action("Delete", "Recipe", new { recipeId = @Model.id })" class="btn btn-default btn-general">Delete  <span class="glyphicon glyphicon-trash"></span></a>
                </div>
                        }

            }
        </div>


        <img src="/Content/Images/@Model.img" class="img-responsive center-block img-rounded"/>

        <hr />

        <blockquote>@Model.description</blockquote>
        <hr />

        <h4>Ingredients</h4>
        <ul>
            @foreach (string x in @Model.ingredients)
            {
                <li>@x</li>
            }
        </ul>

        <hr />

        <h4>Procedure</h4>
        <p>@Model.process</p>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script>
    $(document).ready(function () {

        $(".btn-unfav").on("click", function () {
            $(this).hide();
            $(this).siblings(".btn-fav").show();
            alterfav(parseInt($(this).parents(".div-fav-button").attr("id")));
        });

        $(".btn-fav").on("click", function () {
            $(this).hide();
            $(this).siblings(".btn-unfav").show();
            alterfav(($(this).parents(".div-fav-button").attr("id")));
        });

        function alterfav(id) {
            $.ajax({
                method: "POST",
                url: "/Recipe/AlterFav",
                data: { "id": id }
            });
        }
    });
</script>
