@model Cook.Models.Recipe

@{
    ViewBag.Title = "Recipe";
    
}

<div class="row">
    <div class="col-md-12">
        <h2>@Model.id @Model.name</h2>

        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm())
            {
            <div class="form-horizontal">
                <div class="form-group">
                    <button class="btn btn-info pull-right" id ="favourite">Favourite  <span class="glyphicon glyphicon-star"></span></button>
                </div>
            </div>
            }
        }

        @*@Html.ActionLink("Favourite", "Index", null, new { @class = "btn btn-default btn-primary" });*@

        <img src="/Content/Images/@Model.img" class="img-responsive center-block img-rounded"/>

        <hr />

        <blockquote>@Model.description</blockquote>
        <hr />

        <h4>Ingredients</h4>
        <ul>
            @foreach (string x in @Model.ingredients)
            {
                <li>@x</li>
            }
        </ul>

        <hr />

        <h4>Procedure</h4>
        <p>@Model.process</p>
    </div>
</div>


<script>
    $(function () {
        $("#favourite").on("click", function () {
            $("#favourite").Html = "Favourited";
            $("#favourite").attr("disabled", true);
        });
    });
</script>